$fontcolor:  rgb(10%, 10%, 10%);
$navbackgroundcolor: rgb(100%, 100%, 100%);
$backgroundcolor: darken($navbackgroundcolor, 10%);


body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
}

input, select {
  height: 30px;
  border-radius: .1em;
}

nav {
  margin-left: 0;
  background-color: $navbackgroundcolor;
  width: 100vw;
  height: 50px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;

  select {
    font-size: 1.1em;
    text-align: center;
    width: 8vw;
  }
}

#search-bar {
  input {
    font-size: 1.2em;
    width: 45vw;
  }
}


#video-section {
  margin: 50px;
  display: flex;

  .details {
    width: 65vw;
  }

  li {
    list-style: none;
    cursor: pointer;
    display: flex;
    width: 25vw;
    padding: 10px;
  }
  li:hover {
    background: darken( $backgroundcolor, 10% );
  }

}

::-webkit-input-placeholder {
   text-indent: 0.3em;
}
